@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "LeagueGothic";
  src: url(fonts/LeagueGothic-Regular.ttf);
}
@font-face {
  font-family: "LeagueSpartan";
  src: url(fonts/LeagueSpartan-Regular.ttf);
}
