:root {
  font-size: 16px;
  --alabasterColor: #f1ebe1;
  --cadetBlueColor: #adb6c4;
  --navyBlueColor: #1f2041;
  --ghostWhiteColor: #f9f9f9;
  --metallicGoldColor: #d4af37;
  --whiteColor: #ffffff;
  --grayColor: #7e7e7e;
  --darkRedColor: #af0808;
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "LeagueGothic";
  src: url(fonts/LeagueGothic-Regular.ttf);
}
@font-face {
  font-family: "LeagueSpartan";
  src: url(fonts/LeagueSpartan-Regular.ttf);
}
header {
  background-color: var(--navyBlueColor);
  padding: 37px 120px 0;
}
.logoAndNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 700;
}
.logo {
  display: flex;
}
header .logo {
  font-size: 36px;
}
.firstPartLogo {
  color: var(--metallicGoldColor);
}
.secPartLogo {
  color: var(--cadetBlueColor);
}
ul {
  list-style: none;
  color: var(--whiteColor);
}
p,
ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
}
a {
  color: var(--whiteColor);
  text-decoration: none;
}

main {
  background-color: var(--ghostWhiteColor);
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--navyBlueColor);
  padding: 60px 120px;
  height: 300px; /* do zmiany */
  font-family: Roboto;
  font-weight: 700;
}

footer p {
  color: var(--whiteColor);
}
.footerNavBar {
  align-self: flex-start;
}
.footerNavBar ul {
  flex-direction: column;
}
.contactDataAndLogo {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  gap: 30px;
}
.contactDataAndLogo .logo {
  font-size: 27px;
}
article {
  max-width: 958px;
  margin: 84px 0;
  display: flex;
  flex-direction: column;
}
.homeArticle {
  gap: 40px;
}
.aboutArticle {
  gap: 65px;
}
.homeArticle > .imgDiv {
  margin-bottom: 25px;
}
.imgDiv {
  height: 311px;
  background-image: url(./img/person.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.subSectionTitle,
.noProjectSpan {
  color: var(--navyBlueColor);
  font-family: LeagueSpartan;
  font-size: 32px;
  font-weight: 700;
}
.subSectionCont {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.subSectionDesc {
  font-family: Roboto;
  color: var(--navyBlueColor);
  white-space: pre-line;
}
.skillSection {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  padding-top: 13px;
}
.skillContainer {
  display: flex;
  width: 182px;
  height: 69px;
  gap: 10px;
  align-items: center;
}
.skillImg {
  width: 64px;
  height: 64px;
}
.skillExperience {
  color: var(--cadetBlueColor);
}
.skillPointsContainer {
  display: flex;
  gap: 12px;
}
.skillPoint,
.activeSkillPoint {
  margin: 0;
  width: 12px;
  height: 12px;
  border: 1px;
  border-radius: 50%;
  border-color: var(--navyBlueColor);
  border-style: solid;
}
.activeSkillPoint {
  background-color: var(--navyBlueColor);
}
.skillSummary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allMessagesContainer {
  margin: 65px 120px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.messageContainer {
  display: flex;
  flex-direction: column;
  font-family: LeagueSpartan;
  font-weight: 700;
}
.contactSection {
  width: clamp(320px, 100%, 1920px);
  display: flex;
  flex-direction: column;
  color: var(--navyBlueColor);
}
.contactForm {
  max-width: 1920px;
  padding: 65px 120px;
  display: flex;
  flex-direction: column;
  gap: 65px;
}
.nameAndEmailContainer {
  display: flex;
  gap: 110px;
}
input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--navyBlueColor);
  background-color: var(--ghostWhiteColor);
}
input::placeholder {
  font-family: Roboto;
  color: var(--grayColor);
  font-size: 16px;
}
.nameInputContainer,
.emailInputContainer {
  width: 50%;
}
.contactMeContainer,
label {
  font-family: LeagueSpartan;
  font-weight: 700;
}
.contactMeContainer {
  font-size: 32px;
}
.bigBtn {
  font-family: Roboto;
  font-size: 16px;
  color: var(--navyBlueColor);
  background-color: var(--cadetBlueColor);
  border: none;
  border-radius: 8px;
  width: 240px;
  height: 60px;
  margin-bottom: 65px;
  align-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
h1 {
  font-family: LeagueGothic;
  font-size: 96px;
  font-weight: 400;
  color: var(--whiteColor);
  text-align: center;
  margin: 0 0 4px 0;
}
h2 {
  font-family: LeagueSpartan;
  font-size: 32px;
  font-weight: 400;
  color: var(--whiteColor);
  text-align: center;
  letter-spacing: 12px;
  margin: 0;
}
.currentSectionInfo {
  margin: 100px 0 179px 0;
}
.errorSpan {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  color: var(--darkRedColor);
}
.arrow {
  width: 16.25px;
  height: 9.5px;
}
main > .bigBtn {
  margin-bottom: 84px;
}
button:hover {
  cursor: pointer;
}
.projectContainer {
  width: 360px;
  height: 460px;
  border-radius: 16px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url(img/testprojectbackground.jpg);
  background-repeat: no-repeat;
  background-size: 100% 120%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 30px;
  box-sizing: border-box;
  position: relative;
}
.projectName {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  color: var(--whiteColor);
  margin-top: 18px;
}
.techList {
  display: flex;
  flex-direction: column;
  margin: 0px 25px;
  list-style-type: disc;
  font-family: Roboto;
  font-weight: 400;
}
.allProjectsContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 41px;
  row-gap: 84px;
  margin: 0 139px 84px;
}
#addProjectBtn {
  margin-top: 84px;
}
.deleteBtn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9.03px;
  align-self: flex-end;
  position: absolute;
  bottom: 0px;
  margin: 8px;
}
.noProjectSpan {
  margin-bottom: 84px;
}
